<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                         
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>murach.email.EmailListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DRFSAddBookServlet</servlet-name>
        <servlet-class>club.admin.DRFSAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DRFSDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.DRFSDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DRFSMemberAdminControllerServlet</servlet-name>
        <servlet-class>club.admin.DRFSMemberAdminControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DRFSDisplayBooksServlet</servlet-name>
        <url-pattern>/DRFSDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DRFSAddBookServlet</servlet-name>
        <url-pattern>/DRFSAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DRFSMemberAdminControllerServlet</servlet-name>
        <url-pattern>/DRFSMemberAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DRFSMemberAdmin</servlet-name>
        <url-pattern>/saveMember</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>DRFSIndex.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/DRFSError.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
